body {
  /* This will remove the default indents that cause the page scroll bar to appear */
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #clickableImage {
    width: 75% !important;
  }
}

.retard-container {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hanyu-container {
  position: relative;
  z-index: 1;
  height: 0vh;
  opacity: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.elka-container {
  position: relative;
  z-index: 1;
  height: 0vh;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

#clickableImage {
  cursor: pointer;
  width: 25%;
}
